<?xml version="1.0" encoding="utf-8"?>
<!--
이 파일은 웹 프로젝트의 게시/패키지 프로세스에서 사용됩니다. 이 MSBuild 파일을 편집하여 이 프로세스의 동작을
사용자 지정할 수 있습니다. 이에 대한 자세한 내용은 https://go.microsoft.com/fwlink/?LinkID=208121을 참조하세요. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/b08dfc80-d562-4216-b51d-3a60befc6213/resourceGroups/GreatWall/providers/Microsoft.Web/sites/EchoBot120230607025817</ResourceId>
    <ResourceGroup>GreatWall</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://echobot120230607025817.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e7d98dcd-25c9-4e94-9c01-e47a78966769</ProjectGuid>
    <PublishUrl>https://echobot120230607025817.scm.azurewebsites.net/</PublishUrl>
    <UserName>$EchoBot120230607025817</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>